@media (max-width: 770px) {
    html,
    body {
        .item {
            width: 90% !important;
        }
        
        ul {
            li {
                span,input,select {
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                    margin-left: 0 !important;
                    margin-top: 4px;
                    width:95%;
                    display: block !important;
                }
            }
        }
    }
}

@media (max-width: 490px) {
    .applyButton {
        clear: both;
        margin-bottom: 10px;
    }
}

@media (min-width: 490px) {
    .applyButton, .header--info-action {
        margin-top: 10px;
    }
}