@import './media';

$small-font: 10px;
$medium-font: 12px;
$large-font: 16px;
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: $small-font;

    ul {
        margin-left: 5%;
        padding: 0;

        li {
            border-right: 1px solid #ffffff;
            margin-top: 60px;
            list-style-type: none;
            font-size: 20px;

            input {
                margin-left: 35px;
                display: inline-block;
                font-size: 20px;
                padding-left: 5px;
                padding: 5px;
                border: 1px solid #000;
                background: #f3f3f3;
                outline: none;
            }

            select {
                border: 1px solid #155799;
                cursor: pointer;
                padding: 6px 5px;
                font-size: 16px;
                letter-spacing: 1px;
                color: #155799;
                background-color: #fff;
                transition: all 0.25s ease-in-out;
                outline: none;
                margin-left: 35px;
                display: inline-block;
            }

            .addProductInfoTitle {
                width: 130px;
                display: inline-block;
            }
            .provideDescription::before {
                content: '*';
            }  
                     
            .provideDescription {
                display: block;
                font-size: $medium-font;
                color: #656969;
                margin-top: 5px;
                margin-left: 165px;
            }
        }
    }

    .header {
        background-color: rgba(45, 45, 45, 0.98);
        color: #fff;
        font-size: 20px;
        padding: 0px 5% 30px 5%;
        margin-bottom: 15px;
        height: 45px;

        .active {
            color: coral;
        }

        &--logo {
            float: left;
            background-image: url('../assets/images/logo.png');
            width: 100px;
            height: 75px;
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            &:hover {
                opacity: .9;
                transition: opacity 0.4s;
            }
        }

        &--route {
            float: right;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 28px 10px 0 10px;
            cursor: pointer;
            user-select: none;

            &:hover {
                opacity: .65;
                transition: opacity 0.4s;
            }
        }

        &--info {
            width: 90%;
            margin: 0 5% 0 5%;
            border-bottom: 1px solid #000;
            &-action {
                float: right;
                margin-right: 10px;
            }

            h1 {
                float: left;
            }

            select {
                border: 1px solid #155799;
                cursor: pointer;
                padding: 6px 24px;
                font-size: 1.15em;
                letter-spacing: 1px;
                color: #155799;
                background-color: #fff;
                transition: all 0.25s ease-in-out;
                outline: none;
            }

            .applyButton {
                float: right;
                border: 2px solid #155799;
                box-shadow: 3px 3px 3px #000;
                cursor: pointer;
                padding: 6px 24px;
                font-size: 1.15em;
                letter-spacing: 1px;
                color: #fff;
                background-color: #155799;
                transition: all 0.25s ease-in-out;
                outline: none;
            }

            input {
                border: 2px solid #155799;
                box-shadow: 3px 3px 3px #000;
                cursor: pointer;
                padding: 6px 24px;
                letter-spacing: 1px;
                font-size: 1.15em;
                color: #fff;
                background-color: #155799;
                transition: all 0.25s ease-in-out;
                outline: none;
                margin-left: -9px;
                position: absolute;
                right: 5%;
            }
        }
    }

    .item {
        border: 1px solid #000;
        width: 18.5%;
        margin-left: 5%;
        display: inline-block;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        color: #656565;
        cursor: pointer;
        user-select: none;

        &.red {
            background-color: #dc3545;
            color: #fff;
        }
        
        p {
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
            width:100%;
        }
    }
}

.danger {
    color: #ff0000;
    margin-left: 1%;
}

.typeDisabled {
    display: none;
}